.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.menu__item .menu__item--text a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.w-82 {
  width: 82px;
}

.w-130 {
  width: 130px;
}

.w-140 {
  width: 140px;
}

.w-155 {
  width: 155px;
}

.w-170 {
  width: 170px;
}

.ml-16 {
  margin-left: 16px;
}

.pr-45 {
  padding-right: 45px;
}

.group-label-info {
  text-transform: uppercase;
  font-weight: bold;
}

.hr-group-label {
  width: 70px;
  margin-left: 0;
  margin-top: 7px;
  margin: 7px 0 7px 0;
  border: 2px solid #019160;
}

input.border-red {
  border: 1px solid red;
}

.m-row {
  margin-bottom: 16px;
}

.m-flex {
  display: flex;
}