.content {
  position: absolute;
  left: 1px;
  width: calc(100% - 1px);
  height: calc(100% - 61px);
  background-color: #fff;
  /* position: absolute;
    top: 61px;
    left: 1px;
    width: calc(100% - 1px);
    height: calc(100vh - 61px); */
}
.content .header-content {
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.content .header-content .content-feature .icon-add {
  width: 16px;
  height: 16px;
  background-image: url('../../content/icon/add.png');
}
.content .header-content .content-feature .icon-add {

}
.content .filter-bar {

}
.content .grid {

}
.content .paging-bar {

}